Twitter Data - 5th Jan

In [2]:
import pandas as pd
twitter = pd.read_csv("C:/Users/Sree Vidya/Downloads/5jan.csv")

In [4]:
twitter.head()

,Unnamed: 0,User,Date Created,Number of Likes,Source of Tweet,Tweet,Follower Count,Date,Created
0,275,AlArabiya_Eng,2023-01-05 22:00:00+00:00,0,Sprinklr,"#MukeshAmbani, the billionaire chairman of #Re...",924899,1/5/2023,22:00:00+00:00
1,276,Skywaaaalker,2023-01-05 20:41:42+00:00,1,Twitter for iPhone,#Germany #increases #renewables #reliance in 2...,1194,1/5/2023,20:41:42+00:00
2,277,Raj_Ranga2002,2023-01-05 19:14:55+00:00,4,Twitter for Android,#Reliance 2514 -&gt; 2575-&gt; 2611 \nNegates ...,2015,1/5/2023,19:14:55+00:00
3,278,asison80,2023-01-05 18:56:49+00:00,2,LinkedIn,Neden Elektrikli forklift üretmeliyim ?\n\n#Ma...,181,1/5/2023,18:56:49+00:00
4,279,Niku_21,2023-01-05 18:29:07+00:00,2,Twitter for Android,"@iHrithik Remember this .?? \n\n""Glimpse of me...",72,1/5/2023,18:29:07+00:00

In [5]:
df1 = twitter[["Date","Tweet"]]

In [6]:
df2 = df1.copy()
# concatenate the string
df2['Tweet'] = df2.groupby(['Date'])['Tweet'].transform(lambda x : ' '.join(x))
  
# drop duplicate data
df2 = df2.drop_duplicates()

In [7]:
df2

       Date                                              Tweet
0  1/5/2023  #MukeshAmbani, the billionaire chairman of #Re...

In [8]:
df2.to_excel(r'tw.xlsx', index = False)

Facebook data - 5th Jan

In [9]:
import pandas as pd
df = pd.read_csv("C:/Users/Sree Vidya/Desktop/ISB/Term 2/Foundation Project 1/facebook_data.csv")

In [10]:
df3 = df[df["date"] == "2023-01-05"]

In [11]:
df3

         date                                          post_text
2  2023-01-05  Media Release - Hamdard Signs agreement with R...

In [12]:
df3.to_excel(r'fa.xlsx', index = False)

Combined data - twitter and facebook data - 5th Jan